import { defineConfig } from 'vite'
import { resolve } from 'path'

export default defineConfig({
  // Všetky vaše súbory budú v `dist` priečinku
  build: {
    outDir: 'dist',
    // Zachová štruktúru priečinkov
    rollupOptions: {
      input: resolve(__dirname, 'index.html'),
      output: {
        assetFileNames: 'assets/[name][extname]',
        chunkFileNames: 'js/[name].js',
        entryFileNames: 'js/[name].js'
      }
    }
  },
  // Server pre lokálny vývoj
  server: {
    port: 3000
  }
})